@charset "UTF-8";
/* CSS Document */

body, div {
	
	font-family: 'Raleway', sans-serif;
}

#notone {
    margin-bottom: 35px;
}

#Moozic {
    text-align: center;
}

@media (min-width: 992px) {
    
    #Moozic {
        padding-top: 200px;
        text-align: right;
    }
}

@media (max-width: 707px){
    
    #tweeter {
        display: none;
    }
}

@media (max-width: 791px){
    
    .col-sm-3{
        align-content: center;
    }
}